.link {
  background-color: hsl(240, 100%, 99%);
  cursor: pointer;
  padding: 0.2rem 0.5rem;
}

.link:hover {
  background-color: hsl(240, 100%, 90%);
}

.linkCurrent {
  background-color: hsl(240, 15%, 86%);
  border: 1px solid black;
  padding: 0.2rem 0.5rem;
}